@tailwind base;
@tailwind components;
@tailwind utilities;

/* Customize scrollbar for WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track (the area the scrollbar moves in) */
::-webkit-scrollbar-track {
  background: #d9d9d9; /* Dark background */
  border-radius: 4px;
}

/* Handle (the draggable part) */
::-webkit-scrollbar-thumb {
  background: #c28583; /* Custom orange color */
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #9e7876; /* Custom green when hovered */
}
