@tailwind base;
@tailwind components;
@tailwind utilities;

/* Customize scrollbar for WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track (the area the scrollbar moves in) */
::-webkit-scrollbar-track {
  background: #d9d9d9; /* Dark background */
  border-radius: 4px;
}

/* Handle (the draggable part) */
::-webkit-scrollbar-thumb {
  background: #c28583; /* Custom orange color */
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #9e7876; /* Custom green when hovered */
}

@layer base {
  /* Set the default body font to Lato */
  body {
    font-family: var(--font-lato);
    /* You can add default font weight, color, etc. here */
    @apply text-base font-normal text-gray-800; /* Example using Tailwind */
  }

  /* Set the font for all heading levels to Montserrat */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-montserrat);
    /* Add default heading weight or other styles */
    @apply font-semibold; /* Example: Make headings semi-bold by default */
  }
}

.btn-secondary {
  @apply inline-flex items-center rounded-md bg-gray-200 px-4 py-2 text-sm font-medium text-gray-800 hover:bg-gray-300 disabled:opacity-50;
}
.btn-approve {
  @apply inline-flex items-center rounded-md bg-blue-500 px-4 py-2 text-sm font-medium text-white hover:bg-blue-600 disabled:opacity-50;
}
.btn-reject {
  @apply inline-flex items-center rounded-md bg-red-500 px-4 py-2 text-sm font-medium text-white hover:bg-red-600 disabled:opacity-50;
}
.btn-generate {
  @apply inline-flex items-center rounded-md bg-green-600 px-4 py-2 text-sm font-medium text-white hover:bg-green-700 disabled:opacity-50;
}
